<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>117250187575-4ih3qbo7u6slv22dm8b2bhhk41djdfqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117250187575-4ih3qbo7u6slv22dm8b2bhhk41djdfqi</string>
	<key>API_KEY</key>
	<string>AIzaSyCI8M7of-0KFB1GiAl95zexnWThNbcc4rQ</string>
	<key>GCM_SENDER_ID</key>
	<string>117250187575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamanthaGatt.LambdaTimeline</string>
	<key>PROJECT_ID</key>
	<string>samslambdatimeline</string>
	<key>STORAGE_BUCKET</key>
	<string>samslambdatimeline.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117250187575:ios:071b998f6bd5ad98</string>
	<key>DATABASE_URL</key>
	<string>https://samslambdatimeline.firebaseio.com</string>
</dict>
</plist>